/* use only external css, every element must be styled, create style rules
using class, id, and element selectors  */

/* element selectors */
body {
background-color: rgb(160, 174, 191);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
border-radius: 20px;
border-style: solid;
border-color: darkslateblue;
}
h1{
    text-shadow: 2px 2px rgb(122, 118, 151);
    text-align: center;
}
th, tr {
    text-indent: 40px;
    letter-spacing: 1px;
}


/* class selectors */
.list {
    color: darkslateblue;
}
.links a {
    color: cyan;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.links a:hover {
color:aliceblue;
}
    
.paragraph {
    background-color:rgba(214, 225, 235, 0.849);
    padding: 5px;
    width:fit-content;
    border-radius: 10px;
    
}
.caption {
    font-style: italic;
    font-size: small;

}
    
.header-columns {
    background-color: lightblue;
    border: 2px solid black;
}
/* id selectors */
#table {
    background-color: aliceblue;
    border: 3px solid darkslateblue;
    margin-left: auto;
    margin-right: auto;
}
#caption {
    font-size: 20px;
    background-color: rgb(192, 213, 232);
    border: 3px solid darkslateblue;
}
#form {
    text-align: center;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;

    
}